{% extends "./base.html" %}

{% block title %}Customers{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Agregar Customers</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/registrarCustomers/" method="POST">{% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="txtid" name="txtid" class="form-control" 
                            placeholder="id" minlength="1" maxlength="6" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtNombre" name="txtNombre" class="form-control" 
                            placeholder="Nombre" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtApellido" name="txtApellido" class="form-control" 
                            placeholder="Apellido" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text" id="txtEmail" name="txtEmail" class="form-control" 
                            placeholder="Email" maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h2>Customers</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>E-mail</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in customers %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{c.id}}</td>
                            <td>{{c.name}}</td>
                            <td>{{c.paternal_surname}}</td>
                            <td>{{c.email}}</td>
                            <td><a href="editarCustomer/{{c.id}}" class="btn btn-info">Editar</a></td>
                            <td><a href="eliminarCustomer/{{c.id}}" class="btn btn-danger btnEliminacion">Borrar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}